# 配置文件

# 用户认证方式
USER_AUTH_BACKEND = 'feishu'

PLATFORM_CONFIG = {
    'timeout': {'access': 360, 'refresh': 3600}
}

# token时间
TOKEN_TIME = {
    'ACCESS': {
        'minutes': 5
    },
    'REFRESH': {
        'minutes': 30
    }
}
